# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
venv

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.pytest_cache
/.idea
.flaskenv
/backend/.flaskenv
/backend/tests/.pytest_cache
/backend/tests/__pycache__ 
/backend/flask_session
*.log
backend/tests/flask_session