body{
  background-color: rgb(255, 255, 255);
  
}
h1{
  font-size: 38px;
  margin: 20px;
}
.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}
input[type=number] {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=password] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: content-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}

input[type=submit] {
  background-color: rgb(123, 188, 248);
  border: none;
  color: black;
  padding: 10px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 4px;
  /* cursor: pointer; */
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

select {
  width: 0%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 249, 249);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  background-color: #ffffff;
  border-style: solid;
  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;

  width: wrap;
  height: wrap;
  margin-top: 50px;;
 
  
}
button{
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid;
  border-width: 2.5px;
  border-radius: 15px;
  background-color: rgb(136, 191, 255);
  color: rgb(10, 10, 10);
  font-family: Arial, Helvetica, sans-serif;

}
.logo22{
   src:url(../logo/singhealth.jpg);
   width:"250";
    height:"250";
     margin-top:"300" ;
     margin-bottom:"-300" ;
     alt:"Logo"; 
}
.container22{
  background-color: rgba(255, 255, 255);
margin-top: 10px;
margin-bottom: 10px;
  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px rgb(255, 254, 254);
  display: inline-block;
 width: 1000px;
min-height: 1000px;

}
.container21{
  background-color: #ffffff;
  margin-top: 10px;
margin-bottom: 10px;
border-style: solid;

  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px rgb(24, 19, 19);
  display: inline-block;
 width: 95%;
 min-height: 900px;
  
}
@media screen and (max-width:900px){

    .main-contianer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly; 
      
    }
  
  }

